# Executable
engine/stockfish.exe

# Python dependencies
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Build output
dist/

# Notes
notes.txt

# Model files
model/saved/model.pkl

# Node dependencies
node_modules/

*.stackdump
backend-python/engine/stockfish.exe
